@model Pruebas.Models.Asignatura

@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar registro</h1>

<h4>¿Estas seguro de borrar el registro?</h4>

<div>
    <h4>Asignatura</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Creditos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creditos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Curso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Curso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cuatrimestre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cuatrimestre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGradoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGradoNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProfesorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProfesorNavigation.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
